.header {
    grid-area: header;
    background-color: #E3D2F1;
    height: min-content;
}

.header img {
    width: 60px;
}

.login-block {
    margin-right: 1rem;
    margin-top: 1rem;
    float: right;
}

.login-block-text {
    color: black;
    text-decoration: none;
}