.nav {
    grid-area: nav;
    background-color: #fff;
    text-align: center;
}

.nav div {
    margin: 0 5px 0 5px;
    margin-top: 15px;
    border-radius: 6px;
    background-color: #C4C4C4;
}

.nav a {
    padding: 2px;
    text-decoration: none;
    color:black;
    font-size: 19px;
    font-weight: 400;
}

nav a.active {
    color: #7c63ca;
}