.profile-info {
    display: block;
    margin: 0 auto;
    padding: 0;
}

.profile-about-me {
    padding: 0 0 10px 0;
} 

.profile-info__img {
    margin: 10px 10px;
    width: 250px;
    height: auto;
}