.dialogs {
    display: grid;
    grid-template-columns: 2fr 8fr;
    
}

.dialogs__head {
    font-size: 25px;
    padding-bottom: 10px;
}

.dialogs__items {
    padding: 10px;
    text-align: center;
    border-right: #d3c5e8 solid 1px;
}

.dialogs__items .active {
    color: #7c63ca;
}

.messages__add { 
    display: flex;
}

